.add-result {
    padding: $rem--two;
    background: $gray10;

    section {
        border-bottom: $rem--eighth solid $gray30;
        padding-bottom: $rem--one-half;
        margin-bottom: $rem--one-half; 

        &.starts-subs {
            .wrapper--starts-subs-select {
                display: flex;
            }
        }
    }

    .flex-wrapper {
        select {
            // margin-top: 0;
        }
    }
}