@mixin circle($color, $padding) {
    border-radius: 50%;
    background-color: $color;
    padding: $padding;
    display: inline-block;
    width: auto;
    height: auto;
}

@mixin triangle($color, $direction, $size, $gradient: 1.75) {
    &:after {
        width: 0; 
        height: 0; 
        content: '';
        position: relative;
        margin: 0 $rem--quarter 0 0;
        border-top: map-get((
            up: $size solid transparent,
            down: $size solid $color,
        ), $direction);
        border-bottom: map-get((
            up: $size solid $color,
            down: $size/$gradient solid transparent,
        ), $direction);
        border-left: map-get((
            up: $size/$gradient solid transparent,
            down: $size/$gradient solid transparent,
        ), $direction);
        border-right: map-get((
            up: $size/$gradient solid transparent,
            down: $size/$gradient solid transparent,
        ), $direction);
        @if $direction == 'down' {
            top: $rem--one + $rem--quarter;
        } @else {
            bottom: $rem--one + $rem--quarter/2;
        }
    }
}

// Base classes using mixins
.circle {
    @include circle($gray8, 50px);
    &:hover {
        background-color: $gray7;
    }
}