.fade-appear {
    opacity: 0;
    z-index: 1;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 1000ms linear;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit.active {
    opacity: 0;
    transition: opacity 1000ms linear;
}

.fade-exit-done {
    opacity: 0;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.data-full {
    animation: fade2 2s;
}

.data-condensed {
    animation: fade 2s;
}