.wrapper--table {
    overflow-x: auto;

    table {
        &[data-final-row-highlight] {
            tbody {
                tr {
                    &:last-child {
                        background: $gray2;
                    }
                }
            }
        }
        &[type='data'] {
            thead {
                tr:nth-of-type(1) {
                    th {
                        background: $gray4;
                        color: black;
                    }
                }
                tr:nth-of-type(2) {
                    th {
                        background: $gray2;
                        color: black;
                    }
                }
            }
            td, th {
                border: $border-fine solid $gray8;
            }
        }
        td {
            // &.team__home {
            //     text-align: right;
            // }
        }
    }
    
}