.outcome {
    text-align: center;
    color: white;
    a {
        color: white;
        padding: $rem--threequarters;
        border-radius: $rem--half;
        outline-offset: $rem--eighth;
        &:focus,
        &:active {
            outline: $border-narrow dotted black;
        }
    }
    &.outcome--win {
        a {
            background: green;
        }
    }
    &.outcome--draw {
        a {
            background: orange;
        }
    }
    &.outcome--loss {
        a {
            @include itemBackgroundColor($red60);
        }
    }
}

.team_home,
.team_away {
    overflow-wrap: break-word;
}