.outcome {
    text-align: center;
    color: white;
    a {
        color: white;
    }
    &.outcome--win {
        background: green;
    }
    &.outcome--draw {
        background: orange;
    }
    &.outcome--loss {
        @include itemBackgroundColor($red60);
    }
}