.primary-navigation {
    list-style-type: none;
    display: flex;
    grid-column: 4/-4;
    margin: 0;
    padding: 0;

    a {color: white;}

    @media screen and (min-width: $mobile) {
        button {
            display: none;
        }
    }

    @media screen and (max-width: $mobile) {
        grid-column: 1/-1;
        background-color: $gray10;
    }

    &[data-toggle-open = 'true'] {
        position: relative;
        @media screen and (max-width: $mobile) {
            display: block;
            li {
                &.primary-navigation__toggle {
                    a {
                        color: white;
                    }
                }
                &:not(.primary-navigation__toggle) {
                    display: flex;
                    flex-wrap: wrap;
                    .primary-navigation__link {
                        flex: 1;
                        &[data-toggle-open = 'true'] {
                            background-color: $gray3;
                            font-weight: 900;
                            color: black;
                        }
                    }
                    button {
                        flex: 0;
                        border: 0;
                        padding: 0 1rem;
                        background: $gray9;
                        color: white;
                        font-size: $rem--two;
                        &:hover {
                            cursor: pointer;
                            background-color: $gray4;
                        }
                        &:last-of-type {
                            border-width: 1px;
                        }
                        &[data-section-open='true'] {
                            padding: 0 1.25rem;
                            background-color: $gray3;
                            color: black;
                        }
                    }
                    .secondary-navigation {
                        flex-basis: 100%;
                        &[data-toggle-open = 'true'] {
                            li {
                                background-color: $gray1;
                                a {
                                    color: black
                                }
                            }
                        }
                    }

                }
            }
            .secondary-navigation {
                li {
                    display: block;
                }
            }
        }
    }

    .secondary-navigation {
        @media screen and (min-width: $mobile) {
            position: absolute;
        }
        display: none;
        list-style-type: none;
        padding: 0;
        @media screen and (max-width: $mobile) {
            display: none;
            &[data-toggle-open = 'true'] {
                display: block;
            }
        }
    }

    li {
        z-index: 9;
        &:hover {
            background-color: $gray4;
            color: $blue80;
            @media screen and (min-width: $mobile) {
                .secondary-navigation {
                    display: block;
                    height: 0;
                    li {
                        background-color: $gray6;
                        &:hover {
                            background-color: $gray4;
                        }
                    }
                }
            }
        }
        a {
            color: white;
            text-decoration: none;
            font-weight: 600;
            padding: $rem--one;
            display: inline-block;
            border: $border-narrow solid transparent;
            &[data-toggle-open='true'] {
                background-color: white;
                color: $blue80;
            }
        }
        &.primary-navigation__toggle {
            display: none;
        }
        @media screen and (max-width: $mobile) {
            li {
                background-color: $gray9;
            }
            background: $gray9;
            &:not(.primary-navigation__toggle) {
                display: none;
            }
            &.primary-navigation__toggle {
                display: block;
                background-color: $gray10;
            }
        }
    }
}