.banner .banner__content {
    grid-column-gap: 4/-9;
}

.wrapper--homepage__title {
    font-family: 'Open Sans', 'Josefin Slab', 'Jura', serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    background: white;
    text-align: center;
    padding: $rem--one;
    grid-column: 1/-1;

    h1 {
        animation-duration: 4s;
        animation-name: fadeIn;
        font-weight: bolder;
        font-size: $rem--four;
        display: inline;
        border-bottom: $rem--half solid orange;
        padding: 0 $rem--one;
    }

    p {
        animation-duration: 1.5s;
        animation-name: slide__in__left;
        margin-top: $rem--two-half;
    }
}

.content-wrapper .wrapper--content__inpage--homepage {
    // Background color transition effect inspiration drawn from Alison Quaglia in following article (https://dev.to/babib/amazing-pure-html-and-css-background-animations-4dim)
    background: linear-gradient(-45deg, $red70, $red40, $blue70, $blue40);
    background-size: 200% 200%;
    animation: gradient 30s ease infinite;
    grid-column: 1/-1;

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    .homepage__link-block--right {
        animation-name: slide__in__left;
        animation-timing-function: ease;
        animation-duration: 2s;
        flex: 1;
    }

    .homepage__link-block--left {
        animation-name: slide__in__right;
        animation-timing-function: ease;
        animation-duration: 2s;
        flex: 1;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes slide__in__left {
        from {
            margin-left: 10%;
        }
        to {
            margin-left: 0%;
        }
    }

    @keyframes slide__in__right {
        from {
            margin-right: 10%;
        }
        to {
            margin-right: 0%;
        }
    }

    h2 a {
        color: white;
    }

}