table {
    width: 100%;
}

table {
    border-collapse: collapse;
    margin: $rem--one 0 $rem--one-half;
    border: $border-fine solid $gray2;
    overflow-x: scroll;

    &.align-center {
        th, td {
            text-align: center;
        }
    }

    &.table-layout-fixed {
        table-layout: fixed;
    }

    thead {
        text-align: right;
        background-color: $blue70;
        color: white;
    }
    
    tr {
        border-top: $border-fine solid $gray2;
        td, th {
            padding: $rem--one $rem--half;
        }
    }

    .no-wrap {
        white-space: nowrap;
    }

    .align-right {
        text-align: right;
    }

    .align-center {
        text-align: center;
    }

    tbody {
        tr {
            td {
                &[data-type='num'] {
                    text-align: right;
                }
                &[data-type='text'] {
                    text-align: left;
                }
            }
            &.total {
                background: $gray2;
                font-weight: 700;
            }
        }
    }
}