body {
    margin: 0;
}

.display {
    &.display--block {
        display: block;
    }
    &.display--none {
        display: none;
    }
}

.visibility {
    &.visibility--hidden {
        visibility: hidden;
    }
}

.margin {
    &.margin--auto {
        margin: auto;
    }
}